{% extends "page.html" %}
{% block title %} &ndash; Publications {% endblock %}
{% block content %}        

<article class="single">
  <script type="text/javascript">
    function disp(s) {
	var win;
	var doc;
	win = window.open("", "WINDOWID");
	doc = win.document;
	doc.open("text/html");
	doc.write("<pre>" + s + "</pre>");
	doc.close();
    }
  </script>
  <section id="content" class="body">    
    <h1 class="entry-title">Publications</h1>
    <h2>Journal articles and preprints</h2>
    {% for yeargroup in publications|groupby(1)|reverse %}
    <!-- <h2> {{ yeargroup.grouper }} </h2> -->
    <ul>
        {% for key, year, text, bibtex, pdf, slides, poster, video, preprint in yeargroup.list if "@article" in bibtex or "@Article" in bibtex %}
        <p>
            <li id="{{ key }}">{{ text }}
                <br />
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster), ('Video', video), ('Preprint', preprint)] %}
                {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}
            </li>
        </p>
        {% endfor %}
    </ul>
    {% endfor %}
    <h2>PhD Thesis</h2>
    {% for yeargroup in publications|groupby(1)|reverse %}
    <ul>
        {% for key, year, text, bibtex, pdf, slides, poster, video, preprint in yeargroup.list if "@phdthesis" in bibtex %}
        <p>
            <li id="{{ key }}">{{ text }}
                <br />
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster), ('Video', video), ('Preprint', preprint)] %}
                {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}
            </li>
        </p>
        {% endfor %}
    </ul>
    {% endfor %}
    <h2>Conference Presentations and Posters</h2>
    {% for yeargroup in publications|groupby(1)|reverse %}
    <!-- <h2> {{ yeargroup.grouper }} </h2> -->
    <ul>
        {% for key, year, text, bibtex, pdf, slides, poster, video, preprint in yeargroup.list if "@misc" in bibtex or "@Misc" in bibtex %}
        <p>
            <li id="{{ key }}">{{ text }}
                <br />
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster), ('Video', video), ('Preprint', preprint)] %}
	              {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
	              {% endfor %}
	          </li>
        </p>
        {% endfor %}
    </ul>
    {% endfor %}
  </section>
</article>
{% endblock %}
